<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
</head>

<body>

    <div class="color">
        <header>
            <div class="logo">
                <a href="/" class="imglogo"><img src="../public/logo-mercado-liebre.svg" alt="foto"></a>
                <form action="GET">
                    <div class="formulariobuscador">
                        <input type="text" id="buscador" name="buscador" placeholder="Buscar Productos">
                        <a class="lupa" href="/"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></a>
                    </div>
                </form> 
                <h5 class="compra"><i class="fa-solid fa-hand-holding-dollar"></i> Comprar en cuotas y sin tarjeta de credito</h5>
            </div> 
            <nav class="ul_completa">
                <ul class="ul_nav">
                    <li><a href="/ofertas">Ofertas</a></li>
                    <li><a href="/tienda-oficial">Tienda oficiales</a></li>
                    <li><a href="/vender">Vender</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                </ul>
                <ul class="ul_nav">
                    <li><a href="./register.html">Crea tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresar<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="/mis-compras">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
          <center>
            <nav class="topnav" id="myTopnav">
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
                </a>
              </nav>
            </center>
                </header>
        
        <div class="divbanner">
            <img class="imgbanner" src="../public/img-home-banner.jpg" alt="foto">
            <div>&nbsp;</div>
        </div>
        
        
        <main>
            <h2>Basado en tu última visita</h2>
        <section class="vista_producto">   
            <a href="#" class="cuadro">
                <div class="productos">
                <div class="nombreprod">Cafetera Moulinex</div>
                <img class="productoimg" src="../public/img-cafetera-moulinex.jpg" alt="foto">   
                <div class="caja">
                    <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="cajaprecio_descuento">
                        <h6 class="precios">$6.770 &#160;</h6>
                        <h6 class="descuentos">40% OFF</h6>
                    </div>
                    <h6 class="descripciones">Cafetera Moulinex</h6>
                </div>
                </div>
            </a>
            <a href="#" class="cuadro">
                <div class="productos">
                    <div class="nombreprod">MacBook Pro 2019</div>
                    <img class="productoimg" src="../public/img-macbook-pro-2019.jpg" alt="foto">
                    <div class="caja">
                        <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="cajaprecio_descuento">
                        <h6 class="precios">$230.000 &#160;</h6>
                        <h6 class="descuentos">20% OFF</h6>
                    </div>
                    <h6 class="descripciones">MacBook Pro 2019</h6>
                </div>
                </div>    
            </a>
            <a href="#" class="cuadro">
                <div class="productos">
                    <div class="nombreprod">Samsung Galaxy S10</div>
                    <img class="productoimg" src="../public/img-samsung-galaxy-s10.jpg" alt="foto">
                    <div class="caja">
                        <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="cajaprecio_descuento">
                        <h6 class="precios">$70500 &#160;</h6>
                        <h6 class="descuentos">10% OFF</h6>
                    </div>
                    <h6 class="descripciones">Samsung Galaxy S10</h6>
                </div>
                </div>
            </a>
            <a href="#" class="cuadro">
                <div class="productos">
                    <div class="nombreprod">SmartTv Samsung 43"</div>
                    <img class="productoimg" src="../public/img-tv-samsung-smart.jpg" alt="foto"> 
                    <div class="caja">
                        <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="cajaprecio_descuento">
                        <h6 class="precios">$23200 &#160; </h6>
                        <h6 class="descuentos">5% OFF</h6>
                    </div>
                    <h6 class="descripciones">SmartTv Samsung 43"</h6>
                </div>
                </div>
            </a>
        </section>
        <h2>Ofertas</h2>
        <section class="vista_producto">       
            <a href="#" class="cuadro">
                <div class="productos">
                    <div class="nombreprod">Cafetera Moulinex</div>
                    <img class="productoimg" src="../public/img-cafetera-moulinex.jpg" alt="foto">
                    <div class="caja">
                        <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="cajaprecio_descuento">
                        <h6 class="precios">$6.770 &#160;</h6>
                        <h6 class="descuentos">40% OFF</h6>
                    </div>
                    <h6 class="descripciones">Cafetera Moulinex</h6>
                    </div>
                </div>
            </a>
            <a href="#" class="cuadro">
                <div class="productos">
                    <div class="nombreprod">MacBook Pro 2019</div>
                    <img class="productoimg" src="../public/img-macbook-pro-2019.jpg" alt="foto">
                    <div class="caja">
                        <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="cajaprecio_descuento">
                        <h6 class="precios">$230.000 &#160;</h6>
                        <h6 class="descuentos">20% OFF</h6>
                    </div>
                    <h6 class="descripciones">MacBook Pro 2019</h6>
                </div>
                </div>
            </a>
            <b href="#" class="cuadro">
                <div class="productos">
                    <div class="nombreprod">Samsung Galaxy S10</div>
                    <img class="productoimg" src="../public/img-samsung-galaxy-s10.jpg" alt="foto">
                    <div class="caja">
                        <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="cajaprecio_descuento">
                        <h6 class="precios">$70500 &#160;</h6>
                        <h6 class="descuentos">10% OFF</h6>
                    </div>
                    <h6 class="descripciones">Samsung Galaxy S10</h6>
                </div>
                </div>
            </b>
            <a href="#" class="cuadro">
                <div class="productos">
                    <div class="nombreprod">SmartTv Samsung 43"</div>
                    <img class="productoimg" src="../public/img-tv-samsung-smart.jpg" alt="foto"> 
                    <div class="caja">
                        <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="cajaprecio_descuento">
                        <h6 class="precios">$23200 &#160; </h6>
                        <h6 class="descuentos">5% OFF</h6>
                    </div>
                    <h6 class="descripciones">SmartTv Samsung 43"</h6>
                </div>
                </div>
            </a>
        </section>
        </main>
        </div>
        
        <footer>
            <section class="elfooter">
            <section>
                <div class="dibujos_tarjeta"><i class="fa-solid fa-credit-card"></i></div>
                    <h3 class="titulos_tarjeta">Pagá con tarjeta o en efectivo</h3>
                <p class="cuerpos_tarjeta">Con Mercado Liebre Cash, tenés cuotas sin <br>interés con tarjeta o efectivo en puntos de<br>pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <div class="dibujos_tarjeta"><i class="fa-solid fa-gift"></i></div>
                    <h1 class="titulos_tarjeta">Envío gratis desde $ 2.500</h1>
                <p class="cuerpos_tarjeta">Solo por estar registrad@ en Mercado Liebre<br> tenés envíos gratis en miles de productos. Es <br>un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <div class="dibujos_tarjeta"><i class="fa-solid fa-user-shield"></i></div>
                    <h3 class="titulos_tarjeta">Seguridad, de principio a fin</h3>
                <p class="cuerpos_tarjeta">¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br> no hay nada que no puedas hacer, porque estás <br>siempre protegid@.</p>
            </section>
            </section>
            <p>Luis Leon</p>
        </footer>
        </body>
        </html>

        //Aun en proceso de mejora .. (Proyecto aplicado por extensiones de Live Server en base a las clases del modulo 4) . Gracias por tu atención ^^